header{
background-color: #0934A3;
font-family: 'Roboto', sans-serif;
font-family: 'Teko', sans-serif;
text-align: center;
color: white;
font-size: x-large;
display: flex;
flex-direction: row;
justify-content: space-around;
padding-top: 10px; 
padding-bottom: 10px;
border-bottom: 0px;
}
.titreprincipale{
font-size: xx-large;
}
.mainprincipale{
background-image: url(images/BackgroundAccueil.jpg);
font-family: 'Roboto', sans-serif;
font-family: 'Teko', sans-serif;
text-align: center;
color: white;
font-size: xx-large;
box-shadow: 10%;
display: flex;
flex-direction: row;
justify-content: center;
text-shadow: rgb(0, 0, 0) 2px 0 10px;
}

.partieenbasprincipale{
background-color:#E0E0E0 ;
color:#0934A3 ;
font-family: 'Roboto', sans-serif;
font-family: 'Teko', sans-serif;
text-align: center;
font-size: x-large;
border-top: 0cm;
padding-top: 10px; 
padding-bottom: 10px;
    }
.tableaupageprincipale{
    color:#0934A3 ;
    font-family: 'Roboto', sans-serif;
    font-family: 'Teko', sans-serif;
    text-align: center;
    font-size: x-large;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;

}
.sectionpageapropos{
    font-family: 'Roboto', sans-serif;
    font-family: 'Teko', sans-serif;
    background-image: url(images/BackgroundAPropos.jpg);
    margin-top: 0px;
    font-size: x-large;
    text-align: left;
}
.titrespageapropos{
text-size-adjust: xx-large;
color:#0934A3 ;
text-align: center;
}
.textepageapropos{
background-color: #0934A3;
padding: 10px;  
color: white; 
width: 30%;
padding: 20px;
border-radius: 5%;

}