header{
background-color: #0934A3;
font-family: 'Roboto', sans-serif;
font-family: 'Teko', sans-serif;
text-align: center;
color: white;
font-size: x-large;
display: flex;
flex-direction: row;
justify-content: space-around;
padding-top: 10px; 
padding-bottom: 10px;
}
.titreprincipale{
font-size: xx-large;
}
.mainprincipale{
background-image: url(images/BackgroundAccueil.jpg);
font-family: 'Roboto', sans-serif;
font-family: 'Teko', sans-serif;
text-align: center;
color: white;
font-size: xx-large;
-webkit-text-stroke-width: 0.05px;
-webkit-text-stroke-color: #0934A3;
height: 100%;
display: flex;
flex-direction: row;
justify-content: center;
}

.partieenbasprincipale{
background-color:#E0E0E0 ;
color:#0934A3 ;
font-family: 'Roboto', sans-serif;
font-family: 'Teko', sans-serif;
text-align: center;
font-size: x-large;
border-top: 0cm;
padding-top: 10px; 
padding-bottom: 10px;
    }
.tableaupageprincipale{
    color:#0934A3 ;
    font-family: 'Roboto', sans-serif;
    font-family: 'Teko', sans-serif;
    text-align: center;
    font-size: x-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
}